*, *::before, *::after {
  box-sizing: border-box;
}

body {
  margin: 0;
}

h1, h2, h3 {
  margin: 0;
}



.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }