*,
*::before,
*::after {
  box-sizing: border-box;
}

body,
main {
  margin: 0;
  height: 90vh;
  background-color: hsl(204, 43%, 93%);
  font-family: 'Karla', sans-serif;
  font-weight: 400;
  font-size: 1rem;
}

main {
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  max-width: 80%;
  margin: 0 auto;
}

h1,
h2,
h3 {
  margin: 0;
}

p {
  margin: 0px;
  padding: 0px;
}

.newsletter-section {
  background-color: white;
  border-radius: .5em;
  color: hsl(204, 43%, 93%);
}

.content-wrapper {
  padding: 2em;
}

.newsletter__intro {
  color: hsl(218, 22%, 67%);
}

.newsletter__intro-title {
  color: hsl(179, 62%, 43%);
  font-weight: 700;
}

.newsletter__intro-cta-text {
  color: hsl(71, 73%, 54%);
  margin-top: 1.5em;
  font-weight: 700;
}


.newsletter__intro__text,
.newsletter-col__text {
  line-height: 1.5;
  margin-top: .5em;
}

.newsletter__intro__text {
  color: #b8bcc4;
  margin-top: 1em;
}

.newsletter-col__heading {
  font-weight: 700;
}

/* Monthly Subscription */

.newsletter-col--darkblue {
  background-color: #2bb3b1;
  color: hsl(204, 43%, 93%);
}

.newsletter-col__price {
  font-size: 2.5em;
  margin-right: .2em;
  font-weight: 700;
}

.newsletter-col__price-rate {
  color: #59d2cf;
}

.newsletter-col__button {
  background-color: hsl(71, 73%, 54%);
  border: 0px;
  width: 100%;
  padding: .8em 2em;
  border-radius: .5em;
  margin-top: 1.5em;
  color: #f9fcd1;
  font-size: 1.3rem;
}

/* Why Us */

.newsletter-col--lightblue {
  background-color: #4abebd;
  border-bottom-left-radius: .5em;
  border-bottom-right-radius: .5em;
}

.newsletter-col__list {
  padding-left: 0px;
  list-style-type: none;
}

.newsletter-col__list__item+.newsletter-col__list__item {
  margin-top: .2em;
}

/* Media Queries */

@media (min-width: 600px) {
  .newsletter-section {
    max-width: 42em;
  }

  .content-wrapper {
    padding: 2.5em;
  }

  .row {
    display: flex;
  }

  .newsletter-col {
    width: 100%;
  }

  .newsletter-col--darkblue {
    border-bottom-left-radius: .5em;
  }

  .newsletter-col--lightblue {
    border-bottom-left-radius: 0em;
  }

}



.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}